.credenciales {
    background-color: aliceblue;
    width: 100%;
    padding: 50px;
    /* font-family: 'Katarine Experts'; */
}
.credenciales h1{
    width: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.credenciales .frente-card{
    border: 1px solid black;
    background-image: url('/images/logogris.png');
    background-repeat: no-repeat;
    background-position: 155% 0;
    margin: 20px 0;
    width: 500px;
    height: 250px;
    color: white;
    border-radius: 10px;
}
.credenciales .frente-card.titanium{
    
    background-color:  #452a64;
    background-image: url('/images/logogris.png'), linear-gradient(to top left, #272528, #452B65,#52457c);
}

.credenciales .frente-card.black{
    background-color:  #000000;
    background-image: url('/images/logogris.png'), repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px); /* W3C */
}
.credenciales .frente-card.platinum{
    background-color:  #b5b5b5;
    background-image: url('/images/logogris.png'), linear-gradient(
        -72deg,
        #c7c7c7,
        #999999 72%,
        #9b9b9b 80%,
        #b4b4b4 84%,
        #555564);
    ;
}
.credenciales .frente-card.gold{
    background-color:  #9f7928;
    background-image: url('/images/logogris.png'), radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); /* W3C */
}
.credenciales .frente-card.green{
    background-color:  #5ab95a;
    background-image: url('/images/logogris.png'), #5ab95a; /* W3C */
}
.credenciales .frente-superior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
}
.credenciales .frente-card .frente-superior h2{
    text-transform: capitalize;
}
.credenciales .frente-card .frente-imagen{
    position: relative;
}
.credenciales .frente-card .frente-imagen .fuente{
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 15px;
}
.credenciales .frente-card .frente-imagen .fuente h5{
    font-size: 20px;
    padding: 5px 0;
}
.credenciales .frente-card .frente-imagen .fuente span{
    font-size: 16px;
    padding: 6px 0;
}
.credenciales .frente-card .frente-imagen img{
    width: 80px;
}

.credenciales .frente-contenido{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-top: 20px;
}

/* Dorso */

.credenciales .dorso .dorso-card{
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: 155% 0;
    margin: 20px 0;
    width: 500px;
    height: 250px;
    color: white;
    border-radius: 10px;
}
.credenciales .dorso .dorso-card.titanium{
    background-color:  #452a64;
    background: linear-gradient(to top left, #272528, #452B65,#52457c);
}
.credenciales .dorso .dorso-card.black{
    background-color:  #000000;
    background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px);
} /* W3C */
.credenciales .dorso .dorso-card.platinum{
    background-color:  #b5b5b5;
    background-image: linear-gradient(
        -72deg,
        #c7c7c7,
        #9797a3 27%,
        #a5a5a5 36%,
        #adadad 45%,
        #919191 60%,
        #999999 72%,
        #9b9b9b 80%,
        #b4b4b4 84%,
        #555564);
}
.credenciales .dorso .dorso-card.gold{
    background-color:  #9f7928;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); /* W3C */
}
.credenciales .dorso .dorso-card.green{
    background-color:  #5ab95a;
    background-image: url('/images/logogris.png'), #5ab95a; /* W3C */
}
.credenciales .dorso .dorso-card .dorso-superior{
    background-color: white;
    color: #8786a7;
    display: flex;
    justify-content: flex-end;
    padding: 10px 90px 22px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}
.credenciales .dorso .dorso-card .dorso-superior .dorso-imagen{
    position: relative;
}
.credenciales .dorso .dorso-card .dorso-superior .dorso-imagen img{
    width: 50px;
}
.credenciales .dorso .dorso-card .dorso-superior .dorso-imagen .fuente{
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 15px;
}
.credenciales .dorso .dorso-card .dorso-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credenciales .dorso .dorso-card .dorso-contenido p{
    text-align: center;
    font-size: 14px;
}
.credenciales .dorso .dorso-card .dorso-contenido h6{
    background-color: white;
    color: blue;
    padding: 2px 10px;
    border-radius: 7px;
    text-align: center;
}
.credenciales .dorso .dorso-card .dorso-contenido span{
    font-size: 14px;
}
.credenciales .dorso .dorso-card .dorso-contenido .dorso-gris{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: #6c6b6b ;
}